@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: red;
    width: 20vw;
    font-family: "Roboto", sans-serif;
}

.sidebar nav{
    padding: 72px;
}
.main{
    background-color: yellow;
    width: 80vw;
}

.container{
    display: flex;
}